$color-main: #33A99E;
$color-secondary: #092532;
$grey: #4A4D57;
$normal: #15cda8;
$lightest: lighten($color-main, 50%);
$light: lighten($color-main, 10%);
$color-white: #f6eeee;
$purple: #54123b;
$dark-red: #84142d;
$light-red: #c02739;
